@import "tailwindcss";
.bg-primary {
    background-color: #F5C639;
}

.bg-secondary {
    background-color: #F9DC5C;
}

.bg-background {
    background-color: #FDF8E1;
}

.bg-gray {
    background-color: #1E2939;
}

.color-primary {
    color: #F5C639;
}

.color-secondary {
    color: #F9DC5C;
}

.color-background {
    color: #FDF8E1;
}

.color-gray {
    color: #1E2939;
}